export(check.packages)
export(h)
export(len)
export(lsa)
export(lsp)
export(n)
export(s)
export(stackify)
export(u)
importFrom(base,names)
importFrom(base,summary)
importFrom(base,unique)
importFrom(utils,old.packages)
